* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "BMJUA";
  color: rgb(38, 38, 38);
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  /*-----------------------*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(38, 38, 38);
}

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
